* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.btn:focus {
  box-shadow: none !important;
  outline: none;
}

body a {
  text-decoration: none;
}

#page-container {
  position: relative;
  max-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
